<div class="banner">
	<div class="container">
		<script src="js/responsiveslides.min.js"></script>
		<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				pager: true,
			});
		});
		</script>

		<div id="top" class="callbacks_container">
			<ul class="rslides" id="slider">
				<% for(var i=0; i < slider.length; i++) { %>
			    <li>
					<div class="banner-text">
						<h3><%=slider[i].name%></h3>
						<p><%=slider[i].text%></p>
						<a href="#"><%=slider[i].button%></a>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</div>