<!--content-->
<div class="content">
	<div class="container">
		<div class="content-top">
			<h1><%=meta.h1%></h1>
			<div class="grid-in">
			<% for(var i = 0; i < catalog.length; i++) { %>
				<div class="col-md-4 grid-top">
					<a href="<%=catalog[i].url%>" class="b-link-stripe b-animate-go thickbox">
						<img class="img-responsive" src="<%=catalog[i].image%>" alt="<%=catalog[i].name%>">
						<div class="b-wrapper">
							<h3 class="b-animate b-from-left b-delay03">
								<span><%=catalog[i].name%></span>	
							</h3>
						</div>
					</a>
					<p><a href="<%=catalog[i].url%>"><%=catalog[i].name%></a></p>
				</div>
				<% if(i % 3 == 2) { %><div class="clearfix"></div><% } %>
			<% } %>
			</div>
		</div>
	</div>
</div>