<div class="h_menu4">
	<ul class="memenu skyblue">
		<% for(var i=0; i < menu.length; i++) { %>
            <li class="grid"><a class="color8" href="<%=menu[i].url%>"><%=menu[i].name%></a></li>	
        <% } %>
	</ul> 
</div>